<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Developers</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none" class="item-content">
        <ion-avatar slot="start">
          <img class="profilepic" src="assets/images/developers/pic.png">
        </ion-avatar>
        <ion-label class="ion-text-wrap" color="red">
          <h2>Rodanilla, Ryan Paul C.</h2>
          <p>Technological Institute of the Philippines</p>
          <p>Bachelor of Science in Information Technology</p>
          <p>qrcrodanilla@tip.edu.ph</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
