<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About the app</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>GC KA SOLO</h1>
<p>GC KA SOLO application is owned and operated by a group of students that are inspiring IT Specialists. The App offers different designs of Hoodies and Pants.
  <br><br>We have great low prices, special deals and offer, convenience of delivery as some of the greatest reasons as to why you should shop with us.
  <br><br>Special online products and bundles and a great range of fine clothing. 
  <br><br>

  <h2>Contact Us</h2>
  <p>ask@gckasolo.ph<br><br>Powered by GC KA SOLO</p>

    <img src="assets/images/homepage.png">
  
</ion-content>
