
.logo {
        width: 60px;
        height: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }

app-button {
    display:block;
    width:100%;
}
