<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="slideshow"></div>
  <ion-content>
    <img src="/assets/images/homepage1.png" class="image--background">

    <ion-slides [options]="option" class="ion-margin-top">
      
    <ion-slide>
        <ion-card>
            <img src="assets/images/img1.png">
        </ion-card>
    </ion-slide>
        
    <ion-slide>
        <ion-card>
            <img src="assets/images/img2.png">
        </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
            <img src="assets/images/img7.png">
        </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
          <img src="assets/images/img8.png">
      </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
        <img src="assets/images/img13.png">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
        <img src="assets/images/img14.png">
    </ion-card>
  </ion-slide>
</ion-slides>   

  </ion-content>
  