

<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="/assets/images/like.png">
        </div>
      </div>

      <p>
        You have successfully <br>
        completed your order.<br>
        Thank You!
      </p>
    </div>
  </div>
  
  <ion-footer translucent="true" class="ion-no-border">
    <ion-toolbar color="translucent">
      <ion-button expand="block" class="main-button" routerLink="/home" routerDirection="back">Back to Home</ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
